<section class="activate">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-loading *ngIf="!loading"></app-loading>
        <mat-card *ngIf="loading">
          <div class="text-center">
            <img width="90" src="/public/images/logo-loader.png" alt="">
            <h2 class="text-center primary-color no-margin">به رتاپورت خوش آمدید!</h2>
          </div>
          <h2 class="text-center">فراموشی رمز عبور</h2>
         
          <form [formGroup]="ConfirmCodeForm"  (ngSubmit)="openModal(ConfirmCodeForm.value)">
              
              <mat-form-field class="full-width">
                <input matInput required placeholder="لطفا کد ارسالی به تلفن همراه را وارد نمایید" [type]='text' [formControl]="CodeControl">
              <mat-icon matSuffix (click)="hidepass = !hidepass">{{hidepass ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="CodeControl.hasError('required')">
                  کد ارسالی به تلفن همراه فیلد اجباری است
                </mat-error>
                <mat-error *ngIf="CodeControl.hasError('minlength')">
                  کد ارسالی بایستی بیش از ۶ کاراکتر باشد
                </mat-error>
              </mat-form-field>
           
              
                <mat-form-field class="full-width">
                  <input matInput required placeholder="رمز عبور" [formControl]="passwordControl" [type]="hide ? 'password' : 'text'"
                         id="password" name="password" [(ngModel)]="account.password">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="passwordControl.hasError('required')">
                    رمز عبور فیلد اجباری است
                  </mat-error>
                  <mat-error *ngIf="passwordControl.hasError('minlength')">
                    رمز عبور بایستی بیش از ۶ کاراکتر باشد
                  </mat-error>
                </mat-form-field>
                <ng2-password-strength-bar [passwordToCheck]="account.password" [barLabel]="barLabel" [barColors]="myColors">
                </ng2-password-strength-bar>
             
            <!-- END PASSWORD -->
             
                <mat-form-field class="full-width">
                  <input matInput required placeholder="تکرار رمز عبور" [formControl]="rePasswordControl" [type]="confirmhide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="confirmhide = !confirmhide">
                    {{
confirmhide ? 'visibility' :
                    'visibility_off'
                    }}
                  </mat-icon>
                  <mat-error *ngIf="rePasswordControl.hasError('required')">
                    رمز عبور فیلد اجباری است
                  </mat-error>
                  <mat-error *ngIf="rePasswordControl.hasError('minlength')">
                    رمز عبور بایستی بیش از ۶ کاراکتر باشد
                  </mat-error>
                </mat-form-field>
             
            <!-- END EMAIL -->
          <div class="text-center margin-bottom-20">
            <button mat-raised-button color="primary"  class="font-iran" (click)="mainpage()">صفحه اصلی</button>
            <button mat-raised-button color="primary"   class="font-iran" *ngIf="!loginStatus">فعال سازی اکانت کاربری </button>
          </div>
        </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>