mat-expansion-panel {
    .container {
        .row {
            .col-md-5 {
                margin-bottom: 5px;
            }
        }
    }
}

.img-logo-edit-user {
    width: 100px;
    height: 100px;
}

.up-cat {
    font-size: 14px;
}

.flex-display {
    justify-content: center;
    p {
        margin: 0;
        &:first-child {
            margin-top: 4px;
            margin-left: 8px;
        }
    }
}

.member-co {
    text-align: center;
    background: #f9f8f8;
    border-radius: 2px;
    padding: 15px;
    -webkit-transition: .3s all;
    transition: .3s all;
    position: relative;
    margin-bottom: 20px;
    .delete-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        text-align: center;
        background: #fd3100;
        border-radius: 2px;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
    }
    img {
        height: 150px;
        width: 150px;
    }
}

.img-logo-file {
    position: relative;
    display: inline-block;
    .remove-logo {
        position: absolute;
        background: red;
        color: #fff;
        padding: 0 5px;
        font-weight: bold;
        cursor: pointer;
    }
}


//contact-us
@import 'helper';
.text-p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
}

.member-co {
    text-align: center;
    background: #f9f8f8;
    border-radius: 2px;
    padding: 15px;
    transition: .3s all;
    margin-bottom: 20px;
    position: relative;
    &:hover {
        -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    img {
        margin: auto;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    h3 {
        margin: 0;
    }
    p {
        margin-top: 4px;
        font-weight: 300;
    }
}

.item {
    // text-align: center;
    margin: 5px;
    font-size: 14px;
    font-weight: 300;
}

.box-seller {
    ul {
        margin: 0;
        margin-bottom: 10px;
    }
}

.txt-tabs {
    margin: 18px;
    font-family: IRANSans !important;
}

.title {
    padding-right: 5px;
}

.box-seller {
    text-align: right;
}

.contact-info {
    .col-md-12 {
        margin-bottom: 7px;
    }
    .col-md-6 {
        margin-bottom: 7px;
    }
}

.delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    text-align: center;
    background: #fd3100;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}