<div class="box-wrap-side">
  <mat-card class="box">
    <div class="box__header">
      <div class="box__header--text">
        <span>فیلتر شده براساس</span>
        <a routerLink="/products/brands/list" class="clear-all-filters">حذف همه</a>
      </div>
      <div class="box__header--icon">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </div>
    </div>
  </mat-card>
  <mat-card class="box">
    <div class="box__body padding-20" dir="rtl">

    </div>
  </mat-card>
</div>

<div class="box-wrap-side">
  <mat-card class="box">
    <div class="box__header">
      <div class="box__header--text">
        <span>دسته‌بندی‌ محصول</span>
      </div>
      <div class="box__header--icon">
        <i class="fa fa-tags" aria-hidden="true"></i>
      </div>
    </div>
  </mat-card>
  <mat-card class="box">
    <div class="box__body padding-20" dir="rtl">
      <mat-form-field class="full-width">
        <mat-select [formControl]="oneLevelCtrl" placeholder="سطح اول" #levelOneTag (selectionChange)="oneLevelSelected($event, 'nofilter')">
          <ngx-mat-select-search [formControl]="oneLevelFilterCtrl" [placeholderLabel]="placeholderLabel" [noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
          <mat-option *ngFor="let level of filteredOneLevel | async" [value]="level.id">
            {{level.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="levelTwoStatus">
        <mat-select [formControl]="twoLevelCtrl" placeholder="سطح دوم" #levelTwoTag (selectionChange)="twoLevelSelected($event, 'nofilter')">
          <ngx-mat-select-search [formControl]="twoLevelFilterCtrl" [placeholderLabel]="placeholderLabel" [noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
          <mat-option *ngFor="let level of filteredTwoLevel | async" [value]="level.id">
            {{level.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="levelThreeStatus">
        <mat-select [formControl]="threeLevelCtrl" placeholder="سطح سوم" #levelTwoTag (selectionChange)="threeLevelSelected($event)">
          <ngx-mat-select-search [formControl]="threeLevelFilterCtrl" [placeholderLabel]="placeholderLabel" [noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
          <mat-option *ngFor="let level of filteredThreeLevel | async" [value]="level.id">
            {{level.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="levelFourStatus">
        <mat-select [formControl]="fourLevelCtrl" placeholder="سطح چهارم" #levelTwoTag (selectionChange)="fourLevelSelected($event)">
          <ngx-mat-select-search [formControl]="fourLevelFilterCtrl" [placeholderLabel]="placeholderLabel" [noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
          <mat-option *ngFor="let level of filteredFourLevel | async" [value]="level.id">
            {{level.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </mat-card>
</div>

<!--<div class="box-wrap-side">
  <mat-card class="box">
    <div class="box__header">
      <div class="box__header--text">
        <span>نشان ها</span>
      </div>
      <div class="box__header--icon">
        <i class="fa fa-trophy" aria-hidden="true"></i>
      </div>
    </div>
  </mat-card>
  <mat-card class="box">
    <div class="box__body padding-20" dir="rtl">
      <div>
        <mat-checkbox color="primary" (change)="signFilter($event, 'نشان ویژه')">نشان ویژه</mat-checkbox>
      </div>
      <div>
        <mat-checkbox color="primary" (change)="signFilter($event, 'نشان تضمین')">نشان تضمین</mat-checkbox>
      </div>
      <div>
        <mat-checkbox color="primary" (change)="signFilter($event, 'نشان اعتماد')">نشان اعتماد</mat-checkbox>
      </div>
    </div>
  </mat-card>
</div>-->

<div class="box-wrap-side">
  <mat-card class="box">
    <div class="box__header">
      <div class="box__header--text">
        <span>موقعیت مکانی</span>
      </div>
      <div class="box__header--icon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
    </div>
  </mat-card>
  <mat-card class="box">
    <div class="box__body padding-20" dir="rtl">
      <mat-form-field class="full-width">
        <mat-select placeholder="استان" [formControl]="regionCtrl" multiple (selectionChange)="selectRegion($event)">
          <mat-option *ngFor="let item of region" [value]="item.id">{{ item.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</div>
