@import 'helper';
.my-grid-wrap {
    padding-top: 25px;
}
.sign {
			margin-bottom: 10px;
			height: 29px;
		   	 text-align: center;
			img {
				width: 25px;
				height: 25px;
				display: inline-block;
			}
		}