<app-header [title]="'ویرایش رمز عبور'"></app-header>
<mat-card>
  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword(passwordForm.value)">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput required placeholder="رمز عبور قبلی" [formControl]="oldPasswordControl" [type]="oldhide ? 'password' : 'text'"
              name="oldpassword" [(ngModel)]="oldpassword">
            <mat-icon matSuffix (click)="oldhide = !oldhide">{{oldhide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="oldPasswordControl.hasError('required')">
              رمز عبور قبلی فیلد اجباری است
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput required placeholder="رمز عبور" [formControl]="passwordControl" [type]="hide ? 'password' : 'text'" id="password"
              name="password" [(ngModel)]="account.password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passwordControl.hasError('required')">
              رمز عبور فیلد اجباری است
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('minlength')">
              رمز عبور نمی‌تواند کمتر از ۶ کاراکتر باشد
            </mat-error>
          </mat-form-field>
          <ng2-password-strength-bar [passwordToCheck]="account.password" [barLabel]="barLabel" [barColors]="myColors">
          </ng2-password-strength-bar>

        </div>
        <!-- END PASSWORD -->
        <div class="col-md-7"></div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput required placeholder="تکرار رمز عبور" [formControl]="rePasswordControl" [type]="confirmhide ? 'password' : 'text'"
              name="repassword" [(ngModel)]="repassword">
            <mat-icon matSuffix (click)="confirmhide = !confirmhide">{{confirmhide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="rePasswordControl.hasError('required')">
              تکرار رمز عبور فیلد اجباری است
            </mat-error>
            <mat-error *ngIf="rePasswordControl.hasError('minlength')">
              رمز عبور نمی‌تواند کمتر از ۶ کاراکتر باشد
            </mat-error>
            <mat-error *ngIf="passwordForm.controls.ConfirmPassword.errors?.MatchPassword">
              رمز عبور با تکرار رمز عبور مطابقت ندارد
            </mat-error>
          </mat-form-field>
        </div>
        <!-- END CONFIRM PASSWORD -->

        <div class="col-md-12 margin-top-5">
          <button mat-raised-button color="primary" class="font-iran">
            <span *ngIf="!sendData">ثبت اطلاعات</span>
            <span class="loading-btn-span" *ngIf="sendData">
              <i class="fa fa-spinner fa-spin fa-fw "></i>
              <span class="sr-only ">Loading...</span>
              <span>لطفا صبر کنید ...</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-card>
