.wrap {
    max-width: 300px;
    .title-supporter {
        border-bottom: 1px solid #949494;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
}