<section class="faq-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>سوالات متداول</h1>
        <!-- <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p> -->
        <div>
          <app-loading *ngIf="!loading"></app-loading>
          <mat-card *ngFor="let question of items" class="margin-bottom-10">
            <h3>
              <span>
                <i class="fa fa-tag" aria-hidden="true"></i>
              </span>
              <span>{{question.name}}</span>
            </h3>
            <mat-accordion *ngIf="loading" class="margin-bottom-15">
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of question.list; let last = last;let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="m-ico">
                      <i class="fa fa-question-circle"></i>
                    </span>
                    <span>{{item.question}}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="font-iran" [innerHTML]="item.answer| sanitizeHtml"></p>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card>

        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>