.page-not-found {
    padding: 60px 30px;
    .my-wrapper-404 {
        text-align: center;
        img {
            width: 200px;
            height: 200px;
        }
    }
    h2 {
        font-weight: 300;
    }
    button {
        font-family: IranSans;
    }
}