<div class="container my-grid-wrap">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of products">
      <div class="grid-product-box">
        <div class="img-product">
          <a routerLink="/products/detail/{{item.id}}">
            <div class="axs">
              <img src="{{image_url+item.image}}" alt="">
            </div>
          </a>
          <div class="discount font-iran" *ngIf="item.discount !== 0">
            <div class="discount-number">٪{{ item.discount|englishToPersian }}</div>
            <span></span>
          </div>
          <!-- end discount -->
        </div>
        <!-- end img-product -->
        <div class="title">
          <a routerLink="/products/detail/{{item.id}}">
            <span>{{item.name}}</span>
          </a>
        </div>
        <!-- end title -->
        <div class="btn-grid-prod">
          <button class="btn" (click)="productDetail(item.id)">جزئیات محصول</button>
        </div>
      </div>
    </div>
    <!-- <div class="text-left">
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div> -->
  </div>
</div>