@import 'helper';
.dar-sal {
    font-size: 13px;
    padding-left: 10px;
}

.mizan-das {
    margin-top: 4px;
    margin-bottom: 5px;
}

.my-province {
    font-size: 14px;
    li {
        list-style: none;
    }
}

.up-cat {
    font-size: 14px;
}

.flex-display {
    p {
        margin: 0;
        &:first-child {
            margin-top: 4px;
            margin-left: 8px;
        }
    }
}

.sum-percent {
    list-style: none;
    div {
        display: inline-block;
        border-top: 1px solid #ccc;
        margin-top: 12px;
        width: 180px;
        padding-top: 5px;
    }
}

.deleteOption {
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    float: right;
    background-color: $accent-color;
    padding: 0 6px;
    margin-left: 10px;
    cursor: pointer;
}
.flx-view {
	@include respond-to(laptop){
		display: flex;
		flex-direction: column;
	}
	.col-md-3 {
		max-width: 90%;
	}
}

.thumb {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 80px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

  .mat-icon {
    color: #f00;
    position: absolute;
    top: 0;
    right: 5px;
  }

  button {
    width: 24px;
    height: 24px;
  }
}
