<!--========== PAGE CONTENT ==========-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="neshanha">معرفی نشان ها</div>
    </div>
  </div>
</div>
<!-- Pricing List v4 -->
<div class="bg-color-sky-light">
  <div class="content-md container">
    <div class="row">
      <div class="col-md-4 md-margin-b-30">
        <!-- Pricing List v4 -->
        <div class="pricing-list-v4 radius-10">
          <div class="pricing-list-v4-header">
            <div class="title">
              <b>SPECIAL</b> MEMBERSHIP</div>
            <div>
              <img src="/public/images/sign/vizheh.svg" alt="نشان ویژه" title="نشان ویژه">
            </div>
          </div>
          <div class="pricing-list-v4-content">
            <div class="">
              <ul class="items-sign">
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>استفاده بدون محدودیت از امکانات سایت</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>الویت نمایش محصولات</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>فروش آنلاين از طریق رتاپورت</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>ملاقات های تجاری رو در رو</span>
                </li>
              </ul>
            </div>
            <!-- <div class="center-block">
              <button mat-raised-button color="primary" class="font-iran">نشان ویژه</button>
            </div> -->
          </div>
          <div class="pricing-list-v4-footer" (click)="sign('SPECIAL')">
            <span>«</span>
            <span>نشان ویژه</span>
          </div>
        </div>
        <!-- End Pricing List v4 -->
      </div>
      <div class="col-md-4 md-margin-b-30">
        <!-- Pricing List v4 -->
        <div class="pricing-list-v4 radius-10">
          <div class="pricing-list-v4-header">
            <div class="title">
              <b>TRUST</b> BADGE</div>
            <div>
              <img src="/public/images/sign/etemad.svg" alt="نشان اعتماد" title="نشان اعتماد">
            </div>
          </div>
          <div class="pricing-list-v4-content">
            <div class="">
              <ul class="items-sign">
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>تایید هویت فروشندگان توسط رتاپورت</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>افزایش اعتماد و اعتبار</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>موفقیت بیشتر در زمان عقد قراردادهای جدید </span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>موفقیت بیشتر برای رشد در فروش</span>
                </li>
              </ul>
            </div>
            <!-- <div class="center-block">
              <button mat-raised-button color="primary" class="font-iran">نشان اعتماد</button>
            </div> -->
          </div>
          <div class="pricing-list-v4-footer" (click)="sign('TRUST')">
            <span>«</span>
            <span>نشان اعتماد</span>
          </div>
        </div>
        <!-- End Pricing List v4 -->
      </div>
      <div class="col-md-4 md-margin-b-30">
        <!-- Pricing List v4 -->
        <div class="pricing-list-v4 radius-10">
          <div class="pricing-list-v4-header">
            <div class="title">
              <b>GUARANTEE</b> BADGE</div>
            <div>
              <img src="/public/images/sign/tazmin.svg" alt="نشان تضمین" title="نشان تضمین">
            </div>
          </div>
          <div class="pricing-list-v4-content">
            <div class="">
              <ul class="items-sign">
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>انجام معامله آنلاين از طریق رتاپورت</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>خرید و فروش امن و بی واسطه</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>حمایت از خریداران مقابل افراد خاطی</span>
                </li>
                <li class="items-sign__item">
                  <span>
                    <i class="fa fa-square"></i>
                  </span>
                  <span>حمایت از فروشندگان مقابل افراد خاطی</span>
                </li>
              </ul>
            </div>
            <!-- <div class="center-block">
              <button mat-raised-button color="primary" class="font-iran">نشان تضمین</button>
            </div> -->
          </div>
          <div class="pricing-list-v4-footer" (click)="sign('GUARANTEE')">
            <span>«</span>
            <span>نشان تضمین</span>
          </div>
        </div>
        <!-- End Pricing List v4 -->
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End Pricing List v4 -->
<!--========== END PAGE CONTENT ==========-->