$primary-color: #2196f3;
$dark-primary-color:#1976D2;
$light-primary-color:#BBDEFB;
$accent-color: #ff3d00;
$primary-text:#202020;
$secondry-text:#757575;
$divider-color:#BDBDBD;
$text-icons-color:#FFFFFF;