<section class="activate">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <form class="example-form" [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)">
            <h2 class="text-center font-iran">رمز عبور جدید خود را ثبت کنید!</h2>
            <br>
            <div class="text-center margin-bottom-5">
              <mat-form-field class="">
                <input matInput placeholder="رمز عبور" [type]="hide ? 'password' : 'text'" [formControl]="newPassword">
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="newPassword.hasError('required')">
                  رمز عبور فیلد اجباری است
                </mat-error>
                <mat-error *ngIf="newPassword.hasError('minlength') && !newPassword.hasError('required')">
                  رمز عبور بایستی بیش از ۶ کاراکتر باشد.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="text-center margin-bottom-5">
              <mat-form-field class="">
                <input matInput placeholder="تکرار رمز عبور" [type]="hideConfirm ? 'password' : 'text'" [formControl]="confirmNewPassword">
                <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">
                  {{hideConfirm ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="confirmNewPassword.hasError('required')">
                  تکرار رمز عبور فیلد اجباری است
                </mat-error>
                <mat-error *ngIf="confirmNewPassword.hasError('minlength') && !confirmNewPassword.hasError('required')">
                  تکرار رمز عبور بایستی بیش از ۶ کاراکتر باشد.
                </mat-error>
                <mat-error *ngIf="resetForm.controls.ConfirmPassword.errors?.MatchPassword">
                  رمز عبور با تکرار رمز عبور با هم مطابقت ندارند
                </mat-error>
              </mat-form-field>
            </div>
            <div class="text-center">
              <!-- <button mat-raised-button color="primary" [disabled]="!resetForm.value" class="font-iran">ثبت رمز جدید</button> -->
              <button mat-raised-button color="primary" class="font-iran">
                <span *ngIf="!send">ثبت رمز جدید</span>
                <span class="loading-btn-span" *ngIf="send">
                  <i class="fa fa-spinner fa-spin fa-fw "></i>
                  <span class="sr-only ">Loading...</span>
                  <span>لطفا صبر کنید ...</span>
                </span>
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>